* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-background-color: #F4F1EA;
}

.label-header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #3E2723;
}

.label-subheader {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #5D4037;
}

.button-primary {
    -fx-background-color: #795548;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
}

.button-primary:hover {
    -fx-background-color: #5D4037;
}

.button-secondary {
    -fx-background-color: #D7CCC8;
    -fx-text-fill: #3E2723;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
}

.button-secondary:hover {
    -fx-background-color: #BCAAA4;
}


.button-success {
    -fx-background-color: #2E7D32;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}

.table-view {
    -fx-control-inner-background: #EFEBE9;
    -fx-background-color: #EFEBE9;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #8D6E63;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
